.v-list-item-title a {
    text-decoration: none !important;
}

.text-subtitle-1 a {
    text-decoration: none !important;
}

a {
    text-decoration: none;
    color: #616161;
}

.v-application .v-table .v-table__wrapper table thead tr th,
.v-application .v-table .v-table__wrapper table tbody tr td {
    padding: 5px 10px !important;
}

.v-application .v-data-table th.v-data-table__th {
    font-weight: bold !important;
    font-size: 11px !important;
    text-transform: uppercase;
    background: #1045712b !important;
}

.v-application .v-data-table td.v-data-table__td {
    font-size: 12px !important;
}

.v-application .v-data-table .v-data-table-footer {
    padding: 5px 5px !important;
}

.v-application .v-data-table .v-data-table-footer {
    padding: 5px 5px !important;
}

.v-select .v-field {
    font-weight: 400 !important;
}
